.about-section-page > button {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

.about-section-page > button:hover {
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.about-section-page > img {
    width: auto;
    height: auto;
}