body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 40px;
    border-bottom: 2px solid orange;
}

.header > img{
    width: 100px;
    height: 100px;
}

.header > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.header > ul > li > .active{
    color: orange;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
}

.hero-section{
    color: orange;
    /* background-image: url(/usiu-chess-c.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.hero-section > img{
    width: 100%;
}

.hero-section-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    border: 5px solid white;
}

.about-section-content{
    display: flex;
    margin-top: 20px;
}

.about-section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.about-section-image{
    width: 50%;
    height: inherit;
    background-image: url(/usiu-chess.jpg);
    background-size: cover;
}

.about-section-text > button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}
.about-section-text > button:hover{
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.tournament-section{
    display: flex;
    margin-top: 20px;
}

.tournament-section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.tournament-section-text > button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

.tournament-section-text > button:hover{
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.lessons-section {
    display: flex;
    margin-top: 20px;
}

.lessons-section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.lessons-section-text > button {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

.lessons-section-text > button:hover {
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: white;
    color: black;
    border-top: 2px solid orange;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.page-links ul {
    list-style-type: none;
    padding: 0;
}

.page-links a {
    color: black;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    height: fit-content;
    border-top: 2px solid orange;
}

.footer-logo > img{
    width: 100px;
    height: 100px;
}

.page-links > ul > li > .active{
    color: orange;
}
