body{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 40px;
    border-bottom: 2px solid orange;
}

.menu-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    align-items: center;
}
.header > img{
    width: 100px;
    height: 100px;
}

.header > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.header > ul > li > .active{
    color: orange;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
}

.hero-section{
    color: orange;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.hero-section > img{
    width: 100%;
}

.about-section{
    display: flex;
    margin-top: 20px;
}

.about-section > img{
    width: 50%;
    height: auto;
}

.about-section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.about-section-text > button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}
.about-section-text > button:hover{
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.tournament-section{
    display: flex;
    margin-top: 20px;
}

.tournament-section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.tournament-section-text > button{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

.tournament-section-text > button:hover{
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.tournament-section > img{
    width: 50%;
    height: auto;
}

.lessons-section {
    display: flex;
    margin-top: 20px;
}

.lessons-section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.lessons-section-text > button {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid orange;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
}

.lessons-section-text > button:hover {
    background-color: white;
    color: orange;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.lessons-section > img {
    width: 50%;
    height: auto;
}

footer {
    background-color: white;
    color: black;
    border-top: 2px solid orange;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.page-links ul {
    list-style-type: none;
    padding: 0;
}

.page-links a {
    color: black;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    height: fit-content;
    border-top: 2px solid orange;
}

.footer-logo > img{
    width: 100px;
    height: 100px;
}

.page-links > ul > li > .active{
    color: orange;
}

/* small screens */
@media only screen and (max-width: 768px) {
    .header > ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to left, white, orange);
        z-index: 1;
        text-align: center;
    }

    .header > ul.show {
        display: flex;
    }

    .about-section {
        flex-direction: column-reverse;
    }

    .about-section > img {
        width: 100%;
        height: auto;
    }

    .about-section-text {
        width: 100%;
    }

    .tournament-section {
        flex-direction: column-reverse;
    }

    .tournament-section > img {
        width: 100%;
        height: auto;
    }

    .tournament-section-text {
        width: 100%;
    }

    .lessons-section {
        flex-direction: column-reverse;
    }

    .lessons-section > img {
        width: 100%;
        height: auto;
    }

    .lessons-section-text {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header > ul > li {
        text-align: center;
    }

    .header > ul > li > a {
        display: block;
        padding: 10px 100px 10px 0px;
        font-size: 18px;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: orange;
        border: 2px solid orange;
        border-radius: 10px;
        cursor: pointer;
    }
}
